qrc_bitcoin.cpp
build/*.o
build/*.cpp
build/*.moc
build/ui_*
build/*.h
src/SperoCoind
src/obj/*.o
src/obj/*.P
src/obj-test/*.o
src/obj-test/*.P
src/obj/build.h
src/qt/locale/*.qm
src/clean.sh
Makefile
Makefile.Debug
Makefile.Release
object_script.SperoCoin-qt.Debug
sperocoin-qt_plugin_import.cpp
object_script.SperoCoin-qt.Release
